/* font-family: 'Oleo Script', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --logo-color: #000000;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --header-bg-color: #ffffff;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --color-button-filters: rgba(33, 33, 33, 1);
  --border-header-color: rgba(236, 236, 236, 1);
  --input-color: rgba(33, 33, 33, 0.2);
  --close-modal-icon: rgba(0, 0, 0, 1);
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--header-bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* прибираємо зайвий заголовок з головної сторінки */
.section__title--none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* контейнери */

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.container--header {
  display: flex;
  align-items: center;
}

/* хедер */

.header {
  width: 1600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-header-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo--header {
  display: block;
  margin-left: 0;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color);
}

.logo__web {
  color: var(--accent-color);
}

/* меню навігації */

.menu__link--current {
  color: var(--accent-color);
}

.menu {
  display: flex;
}

.menu__link--current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

/* контакти хедера*/

.contact-header {
  display: flex;
  margin-left: auto;
}

.menu__item {
  color: #757575;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.contact-header__item {
  height: 16px;
}

.contact-header__item:not(:last-child) {
  margin-right: 30px;
}

.contact-header__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header__icon:hover,
.contact-header__icon:focus {
  fill: var(--accent-color);
}

.contact-header__link {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header__link:hover,
.contact-header__link:focus {
  color: var(--accent-color);
}

/* main */

/* герой */

.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon-hero.jpg);
  background-color: rgba(196, 196, 196, 1);
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--header-bg-color);
  text-align: center;
  text-transform: uppercase;
}

.hero__button {
  display: block;
  min-width: 216px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-radius: 4px;
  border: none;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--header-bg-color);
  background-color: var(--accent-color);
}

.hero__button:hover,
.hero__button:focus {
  width: 216px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* модельне вікно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--header-bg-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 490px;
  top: 8px;
  padding: 0;

  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--header-bg-color);
}

.modal__close-icon {
  width: 18px;
  height: 18px;

  fill: var(--close-modal-icon);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__close-icon {
  fill: var(--accent-color);
}

textarea {
  resize: none;
}

.form__title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__label {
  margin-bottom: 4px;
}

.input__field {
  width: 100%;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 42px;

  border-radius: 4px;
  border: 1px solid var(--input-color);

  font-size: 16px;
  line-height: 0;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__icon {
  position: absolute;
  top: 11px;
  left: 15px;
  width: 18px;
  height: 18px;

  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  position: relative;
}

.input__field:placeholder-shown + .input__icon {
  fill: var(--title-text-color);
}

.input__field:not(:placeholder-shown) + .input__icon {
  fill: var(--accent-color);
}

.input__field:hover,
.input__field:focus {
  border-color: var(--accent-color);
}

.input__icon:hover {
  fill: var(--accent-color);
}

.input__icon:hover .input__field {
  border-color: var(--accent-color);
}

.input__field:hover + .input__icon,
.input__field:focus + .input__icon {
  fill: var(--accent-color);
}

.form__coment {
  height: 120px;
  padding: 12px 16px;

  border-radius: 4px;
  border: 1px solid var(--input-color);

  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__coment::placeholder {
  color: rgba(117, 117, 117, 0.5);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__coment:hover,
.form__coment:focus {
  border-color: var(--accent-color);
}

.policy {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.policy {
  width: 423px;
  margin-left: auto;
  margin-right: auto;
}

.policy__check {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.policy__icon-off {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  opacity: 1;
}

.policy__icon-on {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;

  opacity: 0;
}

.policy__check:checked + .policy__icon-on {
  opacity: 1;
}

.policy__condition {
  text-decoration: underline;
  color: var(--accent-color);
}

.form__button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  color: var(--header-bg-color);
  background-color: var(--accent-color);
}

/* секції */

.section {
  min-width: 1600px;
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Наші плюси */

.section--plus {
  padding-bottom: 0;
}

.pluses {
  display: flex;
  justify-content: center;
}

.pluses__item {
  width: 270px;
}

.pluses__item + .pluses__item {
  margin-left: 30px;
}

/* стилізація іконок секції плюси */

.pluses-box {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  /* outline: 1px red solid; */
}

.pluses-box__icon {
  width: 70px;
  height: 70px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--title-text-color);
}

.pluses__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.pluses__text {
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.7;
}

/* чим ми займаємося */

.projects {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.projekts__employment + .projekts__employment {
  margin-left: 30px;
}

/* позиціонування секції "чим ми займаємось" */

.projekts__employment {
  position: relative;
}

.projects__image {
  position: relative;
}

.projects__image::before {
  content: "";

  display: inline-block;
  position: absolute;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.projekts__text {
  position: absolute;
  width: 100%;
  min-height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  bottom: 0;

  font-weight: 700;
  color: var(--header-bg-color);
  text-transform: uppercase;
  text-align: center;
}

/* наша команда */

.section--team {
  width: 1600px;
  margin: 0 auto;
  min-height: 708px;
  background-color: var(--secondary-bg-color);
}

.team__box {
  background-color: var(--header-bg-color);
}

.team__list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  display: flex;
  justify-content: center;
}

.team__box + .team__box {
  margin-left: 30px;
}
.team__name {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: var(--title-text-color);
}

.team__job {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
}

/* посилання на соціальні сайти .svg */

.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  background-color: var(--header-bg-color);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid green; */
}

.social__link:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  color: var(--header-bg-color);
  background-color: var(--accent-color);
}

.social__icon:hover,
.social__icon:focus {
  fill: currentColor;
}

/* Постійні клієнти icons clients */

.clients {
  display: flex;
  justify-content: center;
}

.clients__list {
  width: 170px;
  height: 92px;
}

.clients__list:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon:hover,
.clients__icon:focus {
  fill: currentColor;
}

/* футер */

.footer {
  width: 1600px;
  min-height: 252px;

  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  background-color: var(--hero-bg-color);
}

.container--footer {
  display: flex;
  align-items: baseline;
}

.logo--footer {
  display: inline-block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--header-bg-color);
}

.contact-footer__address {
  margin-bottom: 9px;
}

.contact-footer__link {
  font-style: normal;
  line-height: 1.7;
  color: var(--contact-footer-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer__link--last {
  padding: 0;
}

.contact-footer__link--address {
  color: var(--header-bg-color);
}

.contact-footer__link:hover,
.contact-footer__link:focus {
  color: var(--accent-color);
}

/* приєднуйтесь футер */

.social-footer__join {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--header-bg-color);
}

.social-footer {
  margin-left: 70px;
}

.social--footer {
  display: flex;
  justify-content: center;
}

.social__item--footer {
  width: 44px;
  height: 44px;
  margin-bottom: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social__item--footer:not(:last-child) {
  margin-right: 10px;
}

.social__icon--footer {
  fill: var(--header-bg-color);
}

/* розсилка в telegram */

.subscription-form {
  display: flex;
  margin-left: auto;
}

.subscribe {
  display: flex;
  flex-direction: column;
}

.subscribe__label {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--header-bg-color);
}

.subscribe__input {
  width: 358px;
  min-height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--contact-footer-color);
}

.subscribe__input:placeholder-shown {
  background-color: var(--hero-bg-color);
}

.subscribe__input:not(:placeholder-shown) {
  background-color: var(--header-bg-color);
}

.subscribe__button {
  width: 200px;
  height: 50px;
  margin-top: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--header-bg-color);
}

.subscribe__icon {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 24px;
  height: 24px;

  fill: currentColor;
}

/* портфоліо */

/* фільтри */

.filtrs {
  display: flex;
  justify-content: center;
}

.filtrs__button {
  margin-left: 8px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-button-filters);
  background-color: var(--secondary-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* фільтри ховер і фокус */

.filtrs__button:hover,
.filtrs__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--header-bg-color);
  background-color: var(--accent-color);
}

/* результат фільтра */

.list-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.list-filters__item {
  flex-basis: calc((100% - 60px) / 3);
}

.list-filters__link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-filters__link:hover,
.list-filters__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards {
  padding: 20px 24px;
  background-color: var(--header-bg-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.cards__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 00.06em;
  color: var(--title-text-color);
}

.cards__type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-text-color);
}

/* ховер для карток "портфоліо"*/

.list-filters__image {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-overlay__hover {
  margin: 0;
  padding-top: 63px;
  padding-left: 24px;

  font-size: 18px;
  line-height: 1.5;
  color: var(--header-bg-color);
}

/* робимо видимим текст */

.list-filters__link:hover .card-overlay,
.list-filters__link:focus .card-overlay {
  transform: translateY(0);
}

