.contact-header {
  display: flex;
  margin-left: auto;
}

.contact-header__item {
  height: 16px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-header__icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--mail {
    width: 16px;
    height: 12px;
  }
  &--tel {
    width: 10px;
    height: 16px;
  }

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.contact-header__link {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
