.logo {
  font-family: $raleway;
  font-weight: 700;
  font-size: 26px;

  &--header {
    display: block;
    margin-left: 0;
    margin-right: 93px;
    color: $logo-color;
  }

  &--footer {
    display: inline-block;
    margin-bottom: 20px;
    color: $header-bg-color;
  }
}

.logo__web {
  color: $accent-color;
}
